<div class="row settings">
	<div class="col-md-12">
		<form class="form-horizontal">

			<!-- url -->
			<div class="input-group input-url">
				<span class="input-group-addon">CLR Browser URL</span>
				<input ng-model="url" ng-change="changeURL()" type="url" class="form-control">
			</div>

			<!-- host -->
			<div ng-if="!isDefaultHost" class="form-group">
				<label for="inputHost" class="col-sm-3 control-label">Server</label>
				<div class="col-sm-3">
					<input ng-model="settings.host" ng-change="saveSettings()" type="text" class="form-control" id="inputHost" placeholder="localhost:8182" />
				</div>
				<div class="col-sm-6">
					<span class="help-block">Your iRacing Browser Apps Server address and port.</span>
				</div>
			</div>

			<!-- fps -->
			<div class="form-group">
				<label for="inputFps" class="col-sm-3 control-label">FPS</label>
				<div class="col-sm-2">
					<input ng-model="settings.fps" ng-change="saveSettings()" type="number" class="form-control" id="inputFps" min="1" max="60" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">How often server will send data and update the accelerometer (1-60). <em>This option is CPU expensive. Default: 15</em>.</span>
				</div>
			</div>

			<!-- accelerometer options -->
			<div class="form-group">
				<label for="inputAccelColor" class="col-sm-3 control-label">Bar Color</label>
				<div class="col-sm-2">
					<input ng-model="settings.accelColor" ng-change="saveSettings()" type="text" class="form-control" id="inputAccelColor" colorpicker="hex" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">The color of the accelerometer bars in hexadecimal format. <em>Default: #FF3333</em></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputGaugeColor" class="col-sm-3 control-label">Gauge Color</label>
				<div class="col-sm-2">
					<input ng-model="settings.gaugeColor" ng-change="saveSettings()" type="text" class="form-control" id="inputGaugeColor" colorpicker="hex" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">The color of the accelerometer gauge in hexadecimal format. <em>Default: #111111</em></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputGaugeOutline" class="col-sm-3 control-label">Gauge Outline</label>
				<div class="col-sm-2">
					<input ng-model="settings.gaugeOutline" ng-change="saveSettings()" type="text" class="form-control" id="inputGaugeOutline" colorpicker="hex" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">The color of the accelerometer gauge outline in hexadecimal format. <em>Default: #FFFFFF</em></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputGaugeOutlineAlpha" class="col-sm-3 control-label">Gauge Outline Opacity</label>
				<div class="col-sm-2">
					<input ng-model="settings.gaugeOutlineAlpha" ng-change="saveSettings()" type="number" class="form-control" id="inputGaugeOutlineAlpha" min="0" max="100" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">The opacity of the accelerometer gauge outline. <em>Default: 15</em></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputGaugeBorderRadius" class="col-sm-3 control-label">Gauge Rounded Corners</label>
				<div class="col-sm-2">
					<input ng-model="settings.gaugeBorderRadius" ng-change="saveSettings()" type="number" class="form-control" id="inputGaugeBorderRadius" min="0" max="10" />
				</div>
				<div class="col-sm-7">
					<span class="help-block">The corner radius of the accelerometer gauges. <em>Default: 10</em></span>
				</div>
			</div>

		</form>
	</div>
</div>
