<header>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" [router-link]=" ['/Home'] ">iRacing Map Overlay</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [router-link]=" ['/Home'] ">Home</a>
                </li>
                <li>
                    <a [router-link]=" ['/Settings'] ">Settings</a>
                </li>
                <li>
                    <a [router-link]=" ['/Overlay'] ">Overlay</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <p class="text-muted"><a href="https://github.com/MorisatoK/ir-mapoverlay#readme">iRacing Map Overlay</a> {{version}} for <a href="http://ir-apps.kutu.ru/">iRacing Browser Apps</a></p>
    </div>
</footer>
